
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOrderEntryLabel">Create or edit a Order Entry</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.orderEntry.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.orderEntry.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_serviceType">Service Type</label>
            <select class="form-control" name="serviceType" ng-model="vm.orderEntry.serviceType" id="field_serviceType">
                <option value="PICKUP_DELIVERY">PICKUP_DELIVERY</option>
                <option value="DROPOFF">DROPOFF</option>
                <option value="SELF">SELF</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_transactionDate">Transaction Date</label>
                <div class="input-group">
                    <input id="field_transactionDate" type="text" class="form-control" name="transactionDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.orderEntry.transactionDate" is-open="vm.datePickerOpenStatus.transactionDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('transactionDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_paymentStatus">Payment Status</label>
            <select class="form-control" name="paymentStatus" ng-model="vm.orderEntry.paymentStatus" id="field_paymentStatus">
                <option value="PAID">Paid</option>
                <option value="UNPAID">Un-Paid</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_paidFlag">Paid Flag</label>
                <input type="checkbox" name="paidFlag" id="field_paidFlag"
                          ng-model="vm.orderEntry.paidFlag"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_totalAmount">Total Amount</label>
            <input type="number" class="form-control" name="totalAmount" id="field_totalAmount"
                    ng-model="vm.orderEntry.totalAmount"
                    />
        </div>

        <div class="form-group">
            <label for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" ng-model="vm.orderEntry.customer" ng-options="customer as customer.id for customer in vm.customers | orderBy:'id' track by customer.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
